// Local development process.env
process.env.WEBSITE_SITE_NAME = '<your-site-name>';
process.env.WEBSITE_HOSTNAME = '<your-website-hostname>';
process.env.APP_SUBSCRIPTION_ID = '<your-subscription-id>';
process.env.APP_RESOURCE_GROUP = '<your-resource-group>';
process.env.APP_TENANT_ID = '<your-app-tenant-id>;
process.env.CUSTOMCONNSTR_APP_CLIENT_ID = '<your-application-id>';
process.env.CUSTOMCONNSTR_APP_CLIENT_SECRET = '<your-application-secret>';
process.env.CUSTOMCONNSTR_APP_CI_ACCESS_KEY_ID = '<your-alertlogic-access-key-id>';
process.env.CUSTOMCONNSTR_APP_CI_SECRET_KEY = '<your-alertlogic-secret-key>';
process.env.CUSTOMCONNSTR_APP_AL_API_ENDPOINT = 'api.global-integration.product.dev.alertlogic.com';
process.env.CUSTOMCONNSTR_APP_AL_RESIDENCY = 'default';
process.env.TMP = '/tmp/';
process.env.APP_INGEST_ENDPOINT = 'api.global-integration.us-west-2.product.dev.alertlogic.com';
process.env.APP_AZCOLLECT_ENDPOINT = 'api.product.dev.alertlogic.com';
process.env.AzureWebJobsStorage = '<your-storage-account-info>'
